annotated-types==0.7.0
asgiref==3.8.1
attrs==23.2.0
black==24.4.2
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.7
exceptiongroup==1.2.2
flatbuffers==24.3.25
idna==3.7
mypy-extensions==1.0.0
numpy==2.0.0
openmeteo_requests==1.2.0
openmeteo_sdk==1.11.11
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
platformdirs==4.2.2
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
six==1.16.0
sqlparse==0.5.1
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
